{% extends 'base_hotelaria.html' %}
{% load static %}
{% block title %} Hotelaria GTI{% endblock title %}

{% block titulo %} Teste Página Inicial Hotelaria{% endblock titulo %}

{% block conteudo %}

<div class="row">
        <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Hospedes 0</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link list-group-item" href="#">Ver detalhes</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                </div>
        </div>
        <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Acomodações 1</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link list-group-item" href="#">Ver detalhes</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                </div>
        </div>
        <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                        <div class="card-body">Check-in realizados 0</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link list-group-item" href="#">Ver detalhes</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                </div>
        </div>
        <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                        <div class="card-body">checkout-out 0</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link list-group-item" href="#">Ver detalhes</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col-xl-6">
                <div class="card mb-4">
                        <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Quarto 1
                        </div>
                        <div class="card-body">
                                <h5>conteudo aqui</h5></canvas>
                        </div>
                </div>
        </div>
        <div class="col-xl-6">
                <div class="card mb-4">
                        <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Quarto 2
                        </div>
                        <div class="card-body">
                                <h5>conteudo aqui</h5>
                        </div>
                </div>
        </div>
</div>
{% endblock conteudo %}