{% extends 'base_hotelaria.html' %}
{% load static %}
{% block title %} Hotelaria GTI{% endblock title %}

{% block titulo %} Reservas {% endblock titulo %}

{% block conteudo %}

<a href=" {% url "cad_reservas" %}"> <button type="button" class="btn btn-success mb-4">
    <i class="fa-solid fa-circle-plus" style="color: #ffff;"></i> Nova Reserva
</button></a>
<div class="table-content table-responsive text-center">
                
    <table class="table table-hover">
            <thead class="table-dark">
                    <tr>
                            <th>ID</th>
                            <th>HOSPEDES</th>
                            <th>QUARTOS</th>
                            <th>ENTRADA</th>
                            <th>SAÍDA</th>
                            <th>VALOR</th>
                            <th>NÚMERO DE PESSOAS</th>
                            <th colspan="3" class="text-md-center">Operações</th>
                    </tr>
            </thead>
            
            <tbody>
                    {% comment %} {% for quartos in quart %} {% endcomment %}
                    <tr>
                            <td>{{quartos.id}} </td>
                            <td>{{quartos.nome}}</td>
                            <td>{{quartos.numero}}</td>
                            <td>{{quartos.valor_diaria|floatformat:3}}</td>
                            <td>{{quartos.capacidade}}</td>
                            <td>{{quartos.descricao}}</td>
                            <td>{{quartos.ativo}}</td>
                            
                            <td><a href="  "><button type="button" class="btn btn-primary btn-sm">Exibir</button></a></td>
                            <td> <a href=" "> <button type="button" class="btn btn-secondary btn-sm">Editar</button></a></td>
                            <td><a href=""><button type="button" class="btn btn-danger btn-sm">Remover</button></a></td>
                    </tr>
                    {% comment %} {% endfor %} {% endcomment %}
            </tbody>
    </table>
</div>
{% endblock conteudo %}