
/* Mensagen de erro ou sucess------------------- */
.success {
    background-color: green;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
  }
  
  .messagem_cancelada {
    background-color: red;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    visibility: hidden;
  }
  
  .visivel {
    background-color: red;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    visibility: visible;
  }
  
  
  .error,
  #messagem_cancelada {
    background-color: red;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
  
  }
  
  .p_excluir {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}