{% extends 'base.html' %}
{% block title %}Add Postagem{% endblock title %}
{% block titulo %}Nova Postagem{% endblock titulo %}
{% block conteudo %}
<form class="form_post" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="titulo">Título:</label>
    <input type="text" id='titulo' name="titulo" size="20" maxlength="20" required>
    <label for='conteudo'>Conteúdo: </label>
    <textarea id='conteudo' cols="20" rows="10" name="conteudo" maxlength="50" required></textarea>

    <label for="file">Arquivo</label>
    <input type="file" name="imagem">

   <label>Mostrar:
     <select id="id_select" name="mostrar">
          <option value="True">Sim</option>
          <option value="False">Não</option>
     </select>
   </label>
   <input type="submit" class="salvar" value="Salvar">
</form>
{% endblock conteudo %}