{% extends 'base.html' %}

{% block title %}Del Post{% endblock title %}

{% block titulo %}{{post.titulo}}{% endblock titulo %}

{% block conteudo%}
    <div>
        <p>{{post.conteudo}}</p>
        <form id="form_del" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{post.id}}">
        </form>
        <hr>
        <p class="p_excluir">Deseja realmente excluir a postagem?</p><br>
        <input form="form_del" type="submit" class="excluir" value="Excluir">
    </div>
{% endblock conteudo %}