{% extends 'base.html' %}

{% block title %}Edit Post{% endblock title %}

{% block titulo %}Editando Postagem{% endblock titulo %}

{% block conteudo%} 
    <form class="form_post" method="POST">
        {% csrf_token %}
        <label for="titulo">Título:</label>
        <input type="text" id='titulo' name="titulo" size="20" value="{{post.titulo}}" maxlength="20" required>
        <label for='conteudo'>Conteúdo: </label>
        <textarea id='conteudo' cols="20" rows="10" name="conteudo" maxlength="50"  required>{{post.conteudo}}</textarea>
        <label>Mostrar:
            {% if post.mostrar %}
            <select id="id_select" name="mostrar">
                 <option value="True" Selected>Sim</option>
                 <option value="False">Não</option>
            </select>
            {% else %}
            <select id="id_select" name="mostrar">
                <option value="True">Sim</option>
                <option value="False" Selected>Não</option>
           </select>
            {% endif %}
          </label>
        <input type="submit" class="salvar" value="Salvar">
    </form>
{% endblock conteudo %}