{% extends 'base.html' %}

{% block title %}Meu Blog{% endblock title %}

{% block titulo %} Meu Blog {% endblock titulo %}

{% block conteudo %}
        <form>
            <input type="search" name="pesquisa" placeholder="Título ou conteúdo">
            <input type="submit" value="pesquisar">
        </form>
        <p style="text-align: right; align-self: flex-end">
            <a href="{% url "ocultos" %}">
                <i>Acessar postagens ocultas</i>
            </a>
        </p>
        <div id="todos_posts">
            {% for postagem in posts %}
                <div class="post">
                    <a href="{% url 'ver_post' postagem.id %}"><h2>{{ postagem.titulo }}</h2></a>
                    <p>{{ postagem.conteudo }}</p>
                    <a href="{% url 'del_post' postagem.id %}">
                        <input type="submit" class="excluir" value="Excluir">
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock conteudo %}