{% extends 'base.html' %}

{% block title %}Postagem{% endblock title %}

{% block titulo %}{{post.titulo}}{% endblock titulo %}

{% block conteudo%}
    <div>
        {% if post.imagem %}

            <p><img src=" {{post.imagem.url}} " width="100em" alt=""></p>
        {% endif %}

        <p>{{post.conteudo}}</p>
        <hr>
        <br><br>
        {% if post.mostrar == True %}
        
            <p class="paragrafo"><a href="{% url 'edit_post' post.id %}"><input type="submit" class="editar" value="Editar"></a></p>
            <p class="paragrafo"><a href="{% url 'add_comentario' post.id %}"><input type="submit" class="comentario" value="Comentario"></a></p>

        {% endif %}
    </div>

    {% if comentarios %}
        {% for comentario in comentarios %}
        <div class="contentComentario">
            <p class="comentTexto">{{comentario.texto}} </p>
            <p class="comentData"> {{comentario.data}} </p><br>

            <div id="div_edit_comentario">
                <a class="a_edit_comentario" href="{% url 'edit_comentario' comentario.id %}"><input type="submit" class="editar_comentario" value="Editar"></a>
            </div>
           
            <div id="div_edit_comentario">
                <a class="a_edit_comentario" href="{% url 'del_comentario' comentario.id %}"><input type="submit" class="editar_comentario" value="Delete"></a>
            </div>
        </div>
       
        {% endfor %}
    {% endif %}
{% endblock conteudo %}