{% extends 'base_hotelaria.html' %}
{% load static %}
{% block title %} Hotelaria GTI{% endblock title %}

{% block titulo %} Hospedes {% endblock titulo %}

{% block conteudo %}

<p><a href="{% url 'cad_hospedes' %}"><button class="btn btn-success" type="button"> <i class="fa-solid fa-user-plus" style="color: #fffafa;"></i> Novo Hospede</button></a></p>

        <div class="table-content table-responsive text-center">
              
                <table class="table table-hover">
                        <thead class="table-dark">
                                <tr>
                                        <th>NOME</th>
                                        <th>E-MAIL</th>
                                        <th>DATA DE NASCIMENTO</th>
                                        <th>CPF</th>
                                        <th>TELEFONE</th>
                                        <th>CIDADE</th>
                                        <th>ESTADO</th>
                                        <th colspan="3" class="text-md-center">OPERAÇÕES</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for hospede in hosp %}
                                <tr>
                                    <td>{{ hospede.nome }}</td>
                                    <td>{{ hospede.email }}</td>
                                    <td>{{ hospede.data_nasci }}</td>
                                    <td>{{ hospede.cpf }}</td>
                                    <td>{{ hospede.telefone }}</td>
                                    <td>{{ hospede.cidade}}</td>
                                    <td>{{ hospede.estado}}</td>

                                    <td><a href="{% url 'hos_detalhes' hospede.id %}"><button type="button" class="btn btn-primary btn-sm">Exibir</button></a></td>
                                    <td><a href="{% url 'hos_editar' hospede.id %}"><button type="button" class="btn btn-secondary btn-sm">Editar</button></a></td>
                                    <td><button type="button" class="btn btn-danger btn-sm">Remover</button>
                                
                                {% endfor %}
                                
                        </tbody>
                </table>
        
        </div>

{% endblock conteudo %}
