{% extends 'base_hotelaria.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block titulo %} 

{% if not request.user.is_authenticated %}
        Realizar Login 
  {% else %}
   
        Seja bem-vindo, {{request.user}}.
    
  {%endif %}  

{% endblock titulo %}
{% block conteudo %}


{% if not request.user.is_authenticated %} 
<form method="POST" enctype="multipart/form-data"> 
  {% csrf_token %}
    <div class="col d-flex justify-content-center flex-column align-items-center ">
        <img class="mb-4" src="{% static 'img/login.png' %}" alt="" width="150em" heigth="auto">

        <div class="form-floating mb-3">
            {% comment %} <input type="text" class="form-control" id="floatingInput" placeholder="Usuário"> {% endcomment %}
            
            <table >{{form}}</table>
        
            {% comment %} <label for="floatingInput">Usuário</label> {% endcomment %}
        </div>
        <div class="form-floating mb-3">
        
            {% comment %} <input type="password" class="form-control " id="floatingPassword" placeholder="Password">  {% endcomment %}
            {% comment %} <label for="floatingPassword">Senha</label> {% endcomment %}
        
        </div>
        <div class="checkbox mb-3">
            <label>
            <small>Não tem conta? <a href="{% url 'cadastro' %}">Cadastrar-me</a>.</small>
            </label>
        </div>
       
        <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
    </div> 
    
    
</form>

{% else %}
   
<a href="{% url "edit_user"%}">Editar Usuário</a>
<br>
       <label> Você ja fez login no sistema!</label>
    {% endif %}
{% endblock conteudo %}