{% extends 'base_hotelaria.html' %}
{% load static %}
{% block title %} Hotelaria GTI{% endblock title %}

{% block titulo %} Detalhes do Quarto {% endblock titulo %}

{% block conteudo %}
<div class="container mt-5">
  
<div class="row">
    <div class="col-md-6">
      <div class="mb-3 p-3 bg-light shadow info-card">
        <h5>Nome do Quarto</h5>
        <p id="nome">{{quart.nome}}</p>

        <h5>Número do Quarto</h5>
        <p id="numero">{{quart.numero}}</p>

        <h5>Valor da Diária</h5>
        <p id="valorDiaria">R$ {{quart.valor_diaria|floatformat:3}}</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3 p-3 bg-light shadow info-card">
        <h5>Capacidade</h5>
        <p id="capacidade">{{quart.capacidade}} pessoas</p>

        <h5>Descrição</h5>
        <p id="descricao">{{quart.descricao}}</p>

        <h5>Ativo</h5>
        <p id="ativo">{{quart.ativo}}</p>
      </div>
    </div>
  </div>

{% endblock conteudo %}
